Repository Renirous/Red-DiscordBot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Twentysix26, @tekulvw, @Kowlin, @palmtree5

.github/CODEOWNERS:

# Default
*                                   @Twentysix26

# Core
redbot/core/config.py               @tekulvw
redbot/core/cog_manager.py          @tekulvw
redbot/core/data_manager.py         @tekulvw
redbot/core/drivers/*               @tekulvw
redbot/core/i18n.py                 @tekulvw
redbot/core/sentry_setup.py         @Kowlin @tekulvw

# Cogs
redbot/cogs/admin/*                 @tekulvw
redbot/cogs/alias/*                 @tekulvw
redbot/cogs/audio/*                 @tekulvw
redbot/cogs/bank/*                  @tekulvw
redbot/cogs/customcom/*             @palmtree5
redbot/cogs/downloader/*            @tekulvw
redbot/cogs/economy/*               @palmtree5
redbot/cogs/general/*               @palmtree5
redbot/cogs/image/*                 @palmtree5

# Docs
docs/*                              @tekulvw @palmtree5

[Alias V3] Corrected functions & spelling (#1023)
  redbot/cogs/alias/alias.py
Owners: @tekulvw

[V3] Add sharding (#1027)
  redbot/core/bot.py
Owners: @Twentysix26

[V3] NumPy Docstrings (#1032)
  docs/conf.py
  docs/framework_config.rst
  docs/install_windows.rst
  redbot/cogs/downloader/downloader.py
  redbot/cogs/downloader/installable.py
  redbot/cogs/downloader/repo_manager.py
  redbot/core/bank.py
  redbot/core/bot.py
  redbot/core/cog_manager.py
  redbot/core/config.py
  redbot/core/context.py
  redbot/core/drivers/red_base.py
  redbot/core/drivers/red_json.py
  redbot/core/drivers/red_mongo.py
Owners: @tekulvw, @palmtree5, @Twentysix26

[V3 DataManager] Add some helper methods for interacting with bootstrapping configuration (#1029)
  redbot/core/data_manager.py
Owners: @tekulvw

[V3] Fix for pagify (#1036)
  redbot/core/utils/chat_formatting.py
Owners: @Twentysix26

[V3 Config] Redesign "all_from_XXX" and "clear_all" methods (#1033)
  redbot/cogs/bank/bank.py
  redbot/core/bank.py
  redbot/core/config.py
  tests/core/test_config.py
Owners: @tekulvw, @Twentysix26

V3/start screen (#1038)
  redbot/core/events.py
  redbot/core/utils/chat_formatting.py
Owners: @Twentysix26

[V3 Config] Add MongoDB driver (#972)
  docs/framework_config.rst
  redbot/core/bank.py
  redbot/core/config.py
  redbot/core/data_manager.py
  redbot/core/drivers/__init__.py
  redbot/core/drivers/red_base.py
  redbot/core/drivers/red_json.py
  redbot/core/drivers/red_mongo.py
  redbot/setup.py
  requirements.txt
  setup.py
Owners: @tekulvw, @palmtree5, @Twentysix26

[V3 Docs] fix install commands (#1043)
  docs/install_centos.rst
  docs/install_debian.rst
  docs/install_mac.rst
  docs/install_raspbian.rst
  docs/install_ubuntu.rst
  docs/install_windows.rst
Owners: @tekulvw, @palmtree5

[V3 Config] Remove redundancies and update old docs Re:#1033 (#1039)
  docs/framework_config.rst
  redbot/core/config.py
Owners: @tekulvw, @palmtree5

[V3] Mod initial rewrite (#1034)
  docs/framework_modlog.rst
  docs/index.rst
  redbot/cogs/cleanup/__init__.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/cleanup/locales/messages.pot
  redbot/cogs/filter/__init__.py
  redbot/cogs/filter/filter.py
  redbot/cogs/filter/locales/messages.pot
  redbot/cogs/mod/__init__.py
  redbot/cogs/mod/checks.py
  redbot/cogs/mod/locales/messages.pot
  redbot/cogs/mod/log.py
  redbot/cogs/mod/mod.py
  redbot/cogs/modlog/__init__.py
  redbot/cogs/modlog/locales/messages.pot
  redbot/cogs/modlog/modlog.py
  redbot/core/bot.py
  redbot/core/modlog.py
  redbot/core/utils/mod.py
  tests/cogs/test_mod.py
Owners: @tekulvw, @palmtree5, @Twentysix26

[V3] migration docs (#992)
  docs/framework_bank.rst
  docs/guide_cog_creation.rst
  docs/guide_migration.rst
  docs/index.rst
Owners: @tekulvw, @palmtree5

[V3 Downloader] List all loaded and unloaded cogs (#1019)
  redbot/cogs/downloader/downloader.py
  redbot/core/cog_manager.py
Owners: @tekulvw

[V3 Docs] Add docs on i18n (#1030)
  docs/framework_i18n.rst
Owners: @tekulvw, @palmtree5

[V3] Bump version to 3.0.0b1 (#1044)
  setup.py
Owners: @Twentysix26

Fix for Start Screen (#1050)
  redbot/core/events.py
Owners: @Twentysix26

Fix missing awaits (#1055)
  redbot/cogs/economy/economy.py
  redbot/core/bank.py
Owners: @palmtree5, @Twentysix26

Fix image loading issue (#1057)
  redbot/cogs/image/__init__.py
Owners: @palmtree5

[V3 Docs] Add data manager information (#1056)
  docs/framework_datamanager.rst
  docs/index.rst
  redbot/core/data_manager.py
Owners: @tekulvw, @palmtree5

Add issue and pull request template (#1012)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @Twentysix26

[V3 Cog/Data Manager] Bundled Cog Data (#1063)
  redbot/core/__init__.py
  redbot/core/cog_manager.py
  redbot/core/core_commands.py
  redbot/core/data_manager.py
  redbot/core/events.py
Owners: @Twentysix26, @tekulvw

Update economy.py (#954)
  README.rst
  redbot/cogs/economy/economy.py
Owners: @Twentysix26, @palmtree5

[Streams] [WIP] Rewrite (#782)
  redbot/cogs/streams/__init__.py
  redbot/cogs/streams/errors.py
  redbot/cogs/streams/main.py
  redbot/cogs/streams/streams.py
Owners: @Twentysix26

[V3 Mod] Fix exception registering unchanged case types (#1059)
  redbot/cogs/mod/mod.py
Owners: @Twentysix26

[V3 RPC] Add basic RPC functionality (#1017)
  docs/framework_events.rst
  redbot/__main__.py
  redbot/core/__init__.py
  redbot/core/bot.py
  redbot/core/cli.py
  redbot/core/core_commands.py
  redbot/core/events.py
  redbot/core/rpc.py
  requirements.txt
Owners: @tekulvw, @palmtree5, @Twentysix26

[Modlog] bugfix for case type enabled/disabled status (#1046)
  redbot/cogs/modlog/modlog.py
Owners: @Twentysix26

[V3 Customcom] i18n support (fix Cog-Creators/Red-DiscordBot/issues/1018) (#1065)
  redbot/cogs/customcom/customcom.py
  redbot/cogs/customcom/locales/messages.pot
Owners: @palmtree5, @Twentysix26

[V3 RPC] Handle shutdown gracefully (#1071)
  redbot/core/rpc.py
Owners: @Twentysix26

[V3] Explicitly define aiohttp version to avoid conflicts (#1070)
  requirements.txt
Owners: @Twentysix26

Added "git+" to install command under "Create a cog" docs (#1073)
  docs/guide_cog_creation.rst
Owners: @tekulvw, @palmtree5

[V3 Downloader] Pagify cog and repo lists (#1072)
  redbot/cogs/downloader/downloader.py
Owners: @tekulvw

[V3 Core] Moved [p]cogs command to CogManager (#1076)
  redbot/cogs/downloader/downloader.py
  redbot/core/cog_manager.py
Owners: @tekulvw

[V3] Standardize to `ctx.send_help()` (#1077)
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/filter/filter.py
  redbot/cogs/mod/mod.py
  redbot/cogs/modlog/modlog.py
  redbot/cogs/streams/main.py
  redbot/core/bot.py
Owners: @Twentysix26

[V3] Fix Windows start screen issue (#1058)
  redbot/core/events.py
Owners: @Twentysix26

[V3] Add pagify priority option (#1069)
  redbot/core/utils/chat_formatting.py
Owners: @Twentysix26

Update userinfo to display webp avatar images (#1075)
  redbot/cogs/general/general.py
Owners: @palmtree5

[Trivia] [WIP] V3 Rewrite (#915)
  .gitignore
  redbot/cogs/trivia/__init__.py
  redbot/cogs/trivia/log.py
  redbot/cogs/trivia/session.py
  redbot/cogs/trivia/trivia.py
  requirements.txt
Owners: @Twentysix26

[Mod] fix duplicate cases on ban/unban (fixes Cog-Creators/Red-DiscordBot/issues/1052) (#1064)
  redbot/cogs/mod/mod.py
Owners: @Twentysix26

Bump version to 3.0.0b2 (#1078)
  setup.py
Owners: @Twentysix26

Fix typing module for 3.5.1 (#1080)
  redbot/__init__.py
  redbot/__main__.py
Owners: @Twentysix26
