Repository Renirous/Red-DiscordBot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Twentysix26, @tekulvw, @Kowlin, @palmtree5

.github/CODEOWNERS:

# Default
*                           @Twentysix26

# Core
core/config.py              @tekulvw
core/cog_manager.py         @tekulvw
core/drivers/*              @tekulvw
core/sentry_setup.py        @Kowlin @tekulvw

# Cogs
cogs/alias/*                @tekulvw
cogs/downloader/*           @tekulvw
cogs/general/*              @palmtree5

[Docs] The beginning of the reign of autodoc (#898)
  .gitignore
  docs/Makefile
  docs/cog_downloader.rst
  docs/conf.py
  docs/framework_config.rst
  docs/framework_downloader.rst
  docs/index.rst
  docs/make.bat
  docs/requirements.txt
Owners: @Twentysix26

[Docs] Copy over config docs from red-api-docs (#899)
  core/config.py
  docs/framework_config.rst
Owners: @tekulvw, @Twentysix26

[Config] Asynchronous getters (#907)
  cogs/alias/alias.py
  cogs/bank/bank.py
  cogs/downloader/downloader.py
  cogs/downloader/repo_manager.py
  cogs/economy/economy.py
  core/bank.py
  core/bot.py
  core/cog_manager.py
  core/config.py
  core/core_commands.py
  core/drivers/red_base.py
  core/drivers/red_json.py
  core/events.py
  main.py
  tests/cogs/test_alias.py
  tests/cogs/test_economy.py
  tests/core/test_cog_manager.py
  tests/core/test_config.py
Owners: @tekulvw, @Twentysix26

Fix Edit on Github button (#904)
  docs/conf.py
Owners: @Twentysix26

[Docs] Add bank docs (#900)
  core/bank.py
  docs/framework_bank.rst
  docs/index.rst
Owners: @Twentysix26

Damnit (#908)
  cogs/economy/economy.py
Owners: @Twentysix26

This is actually awesome! (#909)
  docs/conf.py
Owners: @Twentysix26

[Docs] Cog Manager (#901)
  core/cog_manager.py
  core/core_commands.py
  docs/framework_cogmanager.rst
  docs/index.rst
Owners: @tekulvw, @Twentysix26

[Core] Add shutdown command (#911)
  core/core_commands.py
Owners: @Twentysix26

[Image] Rewrite for V3 (#768)
  cogs/image/__init__.py
  cogs/image/image.py
Owners: @Twentysix26

[Docs] Update downloader framework docs (#914)
  cogs/downloader/errors.py
  cogs/downloader/installable.py
  cogs/downloader/repo_manager.py
  docs/framework_downloader.rst
Owners: @tekulvw, @Twentysix26

[Config] Fix get_attr with awaited getters (#912)
  core/config.py
Owners: @tekulvw

[Config] Modify config's all methods to provide default values (#916)
  core/config.py
  docs/framework_config.rst
  docs/framework_downloader.rst
  tests/conftest.py
  tests/core/test_config.py
Owners: @tekulvw, @Twentysix26

[Docs] Config fix (#921)
  core/config.py
Owners: @tekulvw

[Core V3] Fix pagify bug (#920)
  core/utils/chat_formatting.py
Owners: @Twentysix26

[Core V3] Fix checks (#924)
  cogs/bank/bank.py
  core/checks.py
  core/global_checks.py
Owners: @Twentysix26

[Core V3] Fix reload (#927)
  core/core_commands.py
Owners: @Twentysix26

Added await to set for currency name (#935)
  cogs/economy/economy.py
Owners: @Twentysix26

Update main.py (#934)
  main.py
Owners: @Twentysix26
